/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
  position: relative;
  color: white;
  height: 100vh;
  /* background-color: #232c39;
  background-image: linear-gradient(#a8dcf3, #a8dcf3); */
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currentlysupported by Chrome, Opera and Firefox */
}

.card,
.btn,
.form-control,
.modal-dialog,
.modal-content,
.custom-select {
  border-radius: 0;
}

.close {
  margin: 0px 2px 0px 0px !important;
}
.close,
.modal-header,
.modal-footer {
  padding: 5px !important;
}

.modal-body {
  padding: 10px !important;
}

.table-header-btn {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 5px;
}
